/*

    Component that represent a single search result

*/

.search-result {
    background-color: rgb(255, 247, 228);
    border-radius: 0.5rem;
    color: rgb(55, 55, 55);
    padding: 1rem;
    margin-top: 0.5rem;
    cursor: pointer;

    h5 { 
        margin: 0rem;
        font-size: 1.1rem;
    }
    p {
        margin: 0px;
        margin-top: 0.5rem;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden; 
        white-space: nowrap;
    }

    .horizontal-spacing {
        height: 1rem;
    }

    -webkit-filter: drop-shadow(0.2rem 0.2rem 0.1rem #353535d0);
    filter: drop-shadow(0.2rem 0.2rem 0.1rem #353535d0);
}   