/*

        Administration page styling

*/

.adminPage {

    background-color: rgb(143, 96, 96);


    > header {
        margin: 10vh 0px;

        h1, h3 {
            font-weight: bold;
            margin: 0.5rem 0px;
        }
    }

    /*
            Subheader to an admin element
    */
    .subHeader {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 4rem 0px 2rem 0px;
    

        h3 { 
            margin: 0px;
            color: rgb(var(--blue))
        }

        label {

            display: flex;
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;


            > select, > div {
                width: auto;
            }

            > select {
                border: 2px solid rgb(var(--blue));
                border-radius: 0.3rem;
                padding: 0.3rem;
                margin: 0px 0.5rem;
            }
        }
    }

    .pageContent {
        border-radius: 1rem;
        background-color: rgb(235, 235, 235);
        min-height: 15vh;
        padding: 0.5rem;
        margin:0.5rem;
        padding: min(1rem, 2.5%);
        margin-bottom: 4rem;

        &.col-4-1rem {
            float: left;
            width: 100%;
        }

        > h4 {
            margin-top: 0px;
            width: 100%;
            text-align: center;
        }
    }
}




/*
*
*
*     Media queries for responsive design
*
*
*
*/


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    /*
        Normal width of the col classes 
    */

    .adminPage { 

        .pageContent {
            &.col-4-1rem {
                width: 33.33%;
                width: calc(33.33% - 1rem);
            }
        }

    }
  
    
  
  }