.formContainer{
    

    border-radius: 1rem;
    padding: 3rem;
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2rem 0rem;

    > * {
        margin-top: 1rem;
    }

    h3 {
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
}