/*


    Global styles applicable to every pages
    V.P.R - 7/02/2022


*/

/* Application Font */

@font-face {
  font-family: Wigrum;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/_Wigrum-Regular.otf") format("opentype");
}

@font-face {
  font-family: Wigrum;
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/_Wigrum-Bold.otf") format("opentype");
}

@font-face {
  font-family: Wigrum;
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/_Wigrum-Medium.otf") format("opentype");
}

@font-face {
  font-family: Wigrum;
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/_Wigrum-Italic.otf") format("opentype");
}

/*
  Global variables of the platform
*
*/


:root {
  /* Maximum width the content of the page can take */
  --max-width-page-content: 35rem;

  /* Header's height.  */
  --headersHeight : 5rem;

  /* Main colors */
  --red: 207, 68, 58;
  --pink: 234, 140, 114;
  --blue: 85, 91, 120;
  --beige: 255, 254, 246;

  /* Dark color for the text and background-colors */
  --dark: 33, 33, 33;

  /* Main font */
  --generalFont: 'Wigrum', Helvetica, sans-serif;
  --titleFont: 'Wigrum', Helvetica, sans-serif;

  /* Common border radius through the website */
  --commonRadius: 1.5em;


}

html,
body {
  padding: 0;
  margin: 0;

  /* Default font */
  font-family: var(--generalFont);

  /* Default text size */
  font-size: 14px;
  line-height: 1.4;

  /* Default color */
  color: rgb(var(--dark));

  /*scroll-behavior: smooth;*/
}

main {
  min-height: 90vh;
}

* {
  box-sizing: border-box;
}


/*
*
*   Font settings
*
*/

h1, h2, h3 {
  font-family: var(--titleFont);
  line-height: 1.1;
  font-weight: normal;
}

h4, h5, h6 {
  font-weight: 700;
}


h1 { 
  font-size: 3rem; /* For older browsers */
  font-size: clamp(3rem, 6rem, 10vw);
  font-weight: bold; 
}
h2 { 
  font-size: 2.5rem;  /* For older browsers */
  font-size: min(2.5rem, 8vw); 
}
h3 { 
  font-size: 1.75rem; 
  font-size: clamp(1.5rem, 2rem, 6vw);
}
h4 { font-size: 1.1rem; }
h5 { font-size: 1rem; }
h6 { font-size: 0.8rem; }



/*
*
*    Colors settings
*
*/

/* blue color */
.blue { color: rgb(var(--blue)); }
.blue_BG { background-color: rgb(var(--blue)); }

/* Pink color */
.pink { color: rgb(var(--pink));}
.pink_BG { background-color: rgb(var(--pink)); }

/* red */
.red { color: rgb(var(--red));}
.red_BG { background-color: rgb(var(--red)); }

/* Beige */
.beige { color: rgb(var(--beige)); }
.beige_BG { background-color: rgb(var(--beige)); }

/* White color */
.white { color: white; }

/* Dark color */
.dark { color: rgb(var(--dark)); }
.dark_BG { background-color: rgb(var(--dark)); }

.cursorPointer { cursor: pointer; }
.commonRadius { border-radius: var(--commonRadius); }

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  float:left;
}

/**
*   Remove de the bullet
*/
li { list-style-type: none;}

/*
  Remove automatic padding
*/
ul {padding: 0px;}

/*
*   Container that defines the Maximum width the content of the page can take
*/

.maxWidthPageContainer {
  /*max-width: var(--max-width-page-content);*/
  max-width: min(95%, 80rem);
  margin: auto;
  padding: 0px 3rem; /* in case the browser do not support min() */
  padding: 0px min(3rem, 4vw);
}

/*
    Reverse an image
*/
.reverse {
  -webkit-transform: scaleX(-1); /* Safari & Chrome */
  -moz-transform: scaleX(-1);/* Firefox */
  -ms-transform: scaleX(-1); /* Internet Explorer */
  -o-transform: scaleX(-1); /* Opera */
  transform: scaleX(-1);
}


/*
*   responsive width classes
*
*   By default, it assumed to be a small size screen
*/

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {width: 100%; float: left;}


/*

  Remove some default styling of the button element

*/

button {
  background: unset;
  border: unset;
  cursor: pointer;
  padding: 0px;
}

.button {

  --buttonColor: var(--red);

  padding: 0.5rem 2rem;
  cursor: pointer;
  background-color: rgba(var(--buttonColor), 0.8);
  border-radius: 0.5rem;
  border-width: 0px; 
  border-color: rgb(var(--buttonColor));
  border-style: solid;
  color: white;

  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;


  &.button--reverse {
    border-width: 3px;
    background-color: rgb(var(--beige));
    color: rgb(var(--buttonColor));

    &:hover {
      background-color: rgb(221, 221, 221);
    }
  }

  &.button--pink{ --buttonColor: var(--pink);}
  &.button--blue{ --buttonColor: var(--blue);}

  &:hover{
    background-color: rgba(var(--buttonColor), 1);
  }

  &:active{
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    border-color: rgba(var(--buttonColor), 0.4);
    background-color: rgba(var(--buttonColor), 0.4);
  }
}





/*
 Override some default styling of the input element 
*/

input {

  /* variable to set equally the padding */
  --inputPadding: 0.5rem;

  background-color: unset;
  border: unset;
  color: unset;
  padding: var(--inputPadding);

  /* To modify
  **
  *
  *
  *
  */
  background-color: white;

  /* submit buttons */
  &[type='submit']{ 
    cursor: pointer; 
    padding: var(--inputPadding);
    margin: 0px 0.25em;
  }
}

/* text areas which are not submit buttons */
input:not([type='submit']), textarea{
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255,255,255,0.5);
  transition: 0.2s;

  &:focus{
    border-bottom-color: rgba(255,255,255,1);
  }
}

input:focus, textarea:focus, select:focus{
  outline: none;  
}


/*
*      Asterix forrequired fields
*       Always positioned inside the label element
*/
.asterisk {
  color: rgb(167, 31, 31);
  float: left;
  font-size: 0.7rem;
}


/*
*
*
*     Custom scroll bar    
*
*
*/

::-webkit-scrollbar {
  width: 0.65rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #caccd4;
  /*margin-block: 0.5rem;
  border-radius: 0.5rem;*/
}

::-webkit-scrollbar-thumb {
  background: #555b78b4;
}

::-webkit-scrollbar-thumb:hover {
  background: #555B78;
}

@supports (scrollbar-color: #caccd4 #555B78) {
  * {
    scrollbar-color:#caccd4 #555B78;
    scrollbar-width: thin;
  }
}






/*
*
*
*     Media queries for responsive design
*
*
*
*/


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  /*
      Normal width of the col classes 
  */

  .col-1 {width: 8.33%; float: left;}
  .col-2 {width: 16.66%; float: left;}
  .col-3 {width: 25%; float: left;}
  .col-4 {width: 33.33%; float: left;}
  .col-5 {width: 41.66%; float: left;}
  .col-6 {width: 50%; float: left;}
  .col-7 {width: 58.33%; float: left;}
  .col-8 {width: 66.66%; float: left;}
  .col-9 {width: 75%; float: left;}
  .col-10 {width: 83.33%; float: left;}
  .col-11 {width: 91.66%; float: left;}
  .col-12 {width: 100%; float: left;}

}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
     
}

/* Extra large devices (large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1500px) {
     
}



