/*

        Audio file component

*/

.audio-file {

    width: auto;
    float: left;

    --modif-button-color: var(--card-color);

    .audio-file__header {

        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .audio-file__modif-button {
            width: auto;
            float: left;
            color: var(--modif-button-color);
            border: 2px solid var(--modif-button-color);
            border-radius: 0.2rem;
            cursor: pointer; 
            margin-right: 0.3rem;
            transition: 0.3s;
            &:hover {
                background-color: var(--modif-button-color);
                color: white;
            }
        }

        h5 {
            margin: 0px;
            margin-bottom: 0.5rem;
            float: left;
            width: auto;
        }

        form {
            padding: 0.2rem 0px;
            float: right;
        

            input {
                margin-left: 0.5rem;
                cursor: pointer;
            }
            

       
        }
    

    }
   

    audio {
        width: 100%;
    }

    .audio-file__options-container {

        padding: 1rem;

        > * {
            margin-right: 0.5rem;
            margin-top: 0.25rem;
        }
        
    }

    .audio-file__link-container {

        padding: 1rem;

        > div {
            background-color: rgba(var(--green), 0.5);
            margin-top: 0px;
            padding: 0.2rem;
            border-radius: 0.25rem;
        }
        
    }

    .audio-file__warning {
        padding: 0.2rem;
        border-bottom: 2px solid rgb(var(--red));
        float: left;
        margin-top: 0.5rem;
    }

    .audio-file__edit-link-container {

        padding: 1rem;
        padding-top: 0px;

        > form {
            background-color: rgba(var(--blue), 0.5);
            width: 100%;
            padding: 1rem;
            margin-top: 0px;
            border-radius: 0.25rem;
            float: left;

            label { 
                padding: 0px; 
                margin: 0px;
            }

            input {
                width: 100%;
                margin-top: 0.2rem;
            }    

            > div {

                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                button { 
                    margin-top: 1rem;
                }
    
                .audio-file__edit-link-container__delete-check-box {
                    display: flex;
                    align-items: flex-end;
    
                    > div {
                        input {
                            width: auto;
                            margin-left: 0.5rem;
                            cursor: pointer;
                        }
                    }
                }

            }
            
            
        }
        
    }
    
    .audio-file__edit-file-container {
        padding: 1rem;
        padding-top: 0px;

        form {
            background-color: rgba(var(--yellow), 0.5);
            width: 100%;
            padding: 1rem;
            margin-top: 0px;
            border-radius: 0.25rem;
            float: left;

            label { 
                padding: 0px; 
                margin: 0px;
            }

            input {
                width: 100%;
                margin-top: 0.2rem;
            } 

            > div {

                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                button { 
                    margin-top: 1rem;
                }
    
                .audio-file__edit-link-container__delete-check-box {
                    display: flex;
                    align-items: flex-end;
    
                    > div {
                        input {
                            width: auto;
                            margin-left: 0.5rem;
                            cursor: pointer;
                        }
                    }
                }

            }
        }
    }

    .audio-file__liberate-space-container {
        padding: 1rem;
        padding-top: 0px;

        form {
            background-color: rgba(var(--pink), 0.5);
            width: 100%;
            padding: 1rem;
            margin-top: 0px;
            border-radius: 0.25rem;
            float: left;

            label { 
                padding: 0px; 
                margin: 0px;
            }

            input {
                width: 100%;
                margin-top: 0.2rem;
            } 

            > div {

                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                button { 
                    margin-top: 1rem;
                }
    
                .audio-file__edit-link-container__delete-check-box {
                    display: flex;
                    align-items: flex-end;
    
                    > div {
                        input {
                            width: auto;
                            margin-left: 0.5rem;
                            cursor: pointer;
                        }
                    }
                }

            }
        }
    }
}