/*
*
*
*      Textarea component styling
*
*
*/

.textareaComponent{
    margin: 0.5rem 0px;

    position: relative; /* Needed for the asterix */
    width: min(25rem, 100%);


    textarea {
        width: 100%;
        resize: vertical;
        border: none;
    }
}