/*


        Main scene component styling



*/

.sceneComponent {

    position: relative;
    width: 100%;
    min-height: 100vh;

    .whiteBackground {
        position: absolute;
        left: 0px;
        width: 100%;
        background-color:#EFEEE2;
    }



}