.sceneControlComponent {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    min-height: 100vh;
    z-index: 1;
    color: var(--beige);



    .controlsSection {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        min-height: 100%;

        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20vh auto 10vh;
        align-items: center;

        .topMenuContainer {
            position: relative;
            width: 100%;
            max-width: min(95%, 75rem);
            margin: auto;
            
            margin-top: 3vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 2;

            /*
                Song informations
            */ 
            div.top-bar-audio-details {
                font-size: 1.1rem;
                height: 2em;
                margin: 0.5vh 0px 1.5vh 0px;
                position: relative;

                > div {

                    position: absolute;
                    top: 0px;
                    bottom: 0px;
                    z-index: 10;
                    width: 100%;

                    > div {

                        position: relative;
    
                        min-height: 1.5rem;
                        background-color: rgb(var(--beige));
                        width: 60ch;
                        max-width: 100%;
                        border-radius: 0.25rem;
                        height: inherit;
    
                        display: flex;
                        justify-content: space-between;
                        cursor: pointer;
                                            
                        -webkit-filter: drop-shadow(0.3rem 0.2rem 0.1rem #363636d0);
                        filter: drop-shadow(0.3rem 0.2rem 0.1rem #424242d0);

                        transition: 0.2s;

                        &:hover{
                            background-color: rgb(230, 221, 209)
                        }

                        &.top-bar-audio-details--open {

                            cursor: auto;

                            &:hover{
                                background-color:rgb(var(--beige));
                            }
                        }
                            
                        /* List of the data available*/
                        > ul {
                            width: 100%;
                            overflow: hidden;

                            display: flex;
                            flex-direction: column;
                            justify-content: center;


                            > * { border-bottom: 0.05rem solid rgba(143, 143, 143, 0.22); }
                            :last-child { border-bottom: none; }

                            .top-bar-audio-details__current-audio {
                                height: 2em;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                overflow: hidden;
                                width: 100%;

                            }
            
                        } 
                        
                        /* Button container */
                        > div {

                            > button { 
                                padding: 0.5rem 1rem;
                            }
                        }
                    }
                }
            }

            /*  First layer of the top menu  */
            > div.loadingBar-container {

                --markingsSize: 2.5rem;
                --markingsSize: max(2.5rem, 4vh);
                --loadingBarHeight: 1.6rem;
                --loadingBarHeight: max(1.6rem, 3vh);

                width: 100%;
                margin-top: var(--loadingBarHeight);
                margin-top: calc(var(--markingsSize) - var(--loadingBarHeight));
                
                .loadingBar {
                    position: relative;
                    width: 100%;
                    height: var(--loadingBarHeight);
                    border: 0.2rem solid rgb(var(--red));
                    border-radius: 0.3rem;
                    padding: 0.05rem;
    
                    .blackBar {
                        height: 100%;
                        width: 0%;
                        opacity: 0.5;
                        border-radius: 0.1rem;
                        background-color: black;
                        -webkit-transition:  2s; /* Safari & Chrome */
                        -moz-transition:  2s;/* Firefox */
                        -ms-transition:  2s; /* Internet Explorer */
                        -o-transition:  2s;
                        transition: 2s;
                    }

                    /*
                        Marking of the scenes
                    */
                    .marking {
                        position: absolute;
                        font-size: var(--markingsSize);
                        font-weight: bold;
                        bottom: -0.5rem;
                        color: rgb(230, 230, 230);
                        cursor: pointer;

                        -webkit-transition: 0.2s; /* Safari & Chrome */
                        -moz-transition: 0.2s; /* Firefox */
                        -ms-transition: 0.2s;  /* Internet Explorer */
                        -o-transition: 0.2s; 
                        transition: 0.2s;  /* W3C */

                        transform-origin: bottom center;
                        -webkit-transform-origin: bottom center;

                        &.played { opacity: 1;}
                        &:hover {

                            color: rgb(var(--beige));

                            > div {
                                opacity: 1;
                            }
                        }
                    }
                }
    
                .menuFunction {
    
                    text-shadow: 2px 2px 4px #000000;
    
                }

            }

            /*  Second layer of the top menu  */
            > div.loadingBar-infos-container {

                width: 100%;
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: 100%;
                align-items: start;
                justify-content:space-between;
                margin-top: 0.5rem;

                .timeRef {
                    text-shadow: 2px 2px 4px #000000;
                    margin: 0px;
                    font-size: 2rem;
                }
    
                .timeRef:last-of-type { 
                    text-align: right; 
                }
                .timeRef:first-of-type { text-align: left; }

                .buttonsContainer {
                    display: none;
                    justify-content: center;
                    flex-wrap: wrap;
                    margin: 0rem 0.5rem;
                    margin-bottom: 1rem;


                    button {
                        --buttonSize: 4rem;

                        width: auto;
                        padding: 0.5rem 1rem;
                        font-weight: bold;
                        font-size: 1.5rem;
                        margin: 0px 0.5rem;
                        text-align: right;
                        cursor: pointer;
                        height: var(--buttonSize);
                        color: rgb(var(--blue));
                        background-color: rgb(var(--beige));
                        border-radius: calc(var(--buttonSize)/2);

                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        .svgContainer {
                            float: left;
                            height: 2.5rem;
                            height: calc(var(--buttonSize)/5 * 2.5);
                            width: 2.5rem;
                            width: calc(var(--buttonSize)/5 * 2.5);
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            svg {
                                width: 100%;
                                max-height: 100%;
                                stroke: rgb(var(--pink));
                            }

                        }

                        .textContainer {
                            display: none;
                            margin: 0rem 1rem;

                        }

                        &:hover {
                            .textContainer{
                                display: block;
                            }
                        }
                    }
                }
    

              
    
                button:last-of-type { text-align: left; }
            }
            
        }

        .bottomMenuContainer{

            color: rgb(var(--beige));
            z-index: 5;
            position: absolute;
            bottom: 0px;
            width:100%;
            display: flex;
            justify-content: center;
            

            > div {
                width: 95%;
                max-width: min(95%, 75rem);
                position: relative;
                font-size: 2.5rem;

                p {
                    position: relative;
                    text-align: center;
                    width: 100%;

                    text-shadow: 2px 2px 3px #000000;
            
                    font-size: 4vw;
                    font-size: clamp(2rem, 3rem, 5vw);
                    line-height: 1;
                }

                .buttonsContainer--smallScreens {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    margin: 0rem 0.5rem;
                    margin-bottom: 2vh;
                    margin-bottom: max(3vh, 2rem);
                    position: relative;
                    width: 100%;


                    button {
                        --buttonSize: 4rem;

                        width: auto;
                        padding: 0.5rem 1rem;
                        font-weight: bold;
                        font-size: 1.2rem;
                        margin: 0px 0.5rem;
                        text-align: right;
                        cursor: pointer;
                        height: var(--buttonSize);
                        color: rgb(var(--blue));
                        background-color: rgb(var(--beige));
                        border-radius: calc(var(--buttonSize)/2);
                        -webkit-box-shadow: 0px 0px 5px 1px #68686869; 
                        box-shadow: 0px 0px 5px 1px #68686869;

                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        .svgContainer {
                            float: left;
                            height: 2.5rem;
                            height: calc(var(--buttonSize)/5 * 2.5);
                            width: 2.5rem;
                            width: calc(var(--buttonSize)/5 * 2.5);
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            svg {
                                width: 100%;
                                max-height: 100%;
                                stroke: rgb(var(--pink));
                            }

                        }

                        .textContainer {
                            display: none;
                            margin: 0rem 1rem;
                        }

                    }
                }
            }
        }
        
    }

    .panelSection {
        position: absolute;
        bottom: 0px;
        left: 0px;
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        
        .multiplePanelsContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        .backwardButton_container {

            display: flex;
            justify-content: center;

            .backwardButton {
            
                background-color:rgb(var(--beige));
                padding: 0.5rem 1rem;
                color: rgb(var(--pink));
                font-weight: bold;
                border-radius: 0.5rem;
                cursor: pointer;
                margin: 0.5rem;
                border: 0.25rem solid rgb(var(--pink));
    
                -webkit-filter: drop-shadow(0.5rem 0.5rem 0.3rem #363636d0);
                filter: drop-shadow(0.3rem 0.5rem 0.3rem #424242d0);
    
                -webkit-animation: display 0.7s ease forwards normal;
                -moz-animation: display 0.7s ease forwards normal;
                -o-animation: display 0.7s ease forwards normal;
                -ms-animation: display 0.7s ease forwards normal;
                animation: display 0.7s ease forwards normal;
    
                transition: 0.3s;
    
                &:hover {
                    border-color: rgb(var(--red));
                    color: rgb(var(--red));
                }
            }
        }
    }
}

@-webkit-keyframes display{
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -10vh, 0);       /* Safari & Chrome */
        -moz-transform: translate3d(0, -10vh, 0);       /* Firefox */
        -ms-transform: translate3d(0, -10vh, 0);    /* Internet Explorer */
        -o-transform: translate3d(0, -10vh, 0);    /* Opera */
        transform: translate3d(0, -10vh, 0);   
      }
      100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);       /* Safari & Chrome */
        -moz-transform: translate3d(0, 0, 0);       /* Firefox */
        -ms-transform: translate3d(0, 0, 0);    /* Internet Explorer */
        -o-transform: translate3d(0, 0, 0);    /* Opera */
        transform: translate3d(0, 0, 0); 
      }
}

@-moz-keyframes display{
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -10vh, 0);       /* Safari & Chrome */
        -moz-transform: translate3d(0, -10vh, 0);       /* Firefox */
        -ms-transform: translate3d(0, -10vh, 0);    /* Internet Explorer */
        -o-transform: translate3d(0, -10vh, 0);    /* Opera */
        transform: translate3d(0, -10vh, 0);   
      }
      100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);       /* Safari & Chrome */
        -moz-transform: translate3d(0, 0, 0);       /* Firefox */
        -ms-transform: translate3d(0, 0, 0);    /* Internet Explorer */
        -o-transform: translate3d(0, 0, 0);    /* Opera */
        transform: translate3d(0, 0, 0); 
      }
}

@-o-keyframes display{
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -10vh, 0);       /* Safari & Chrome */
        -moz-transform: translate3d(0, -10vh, 0);       /* Firefox */
        -ms-transform: translate3d(0, -10vh, 0);    /* Internet Explorer */
        -o-transform: translate3d(0, -10vh, 0);    /* Opera */
        transform: translate3d(0, -10vh, 0);   
      }
      100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);       /* Safari & Chrome */
        -moz-transform: translate3d(0, 0, 0);       /* Firefox */
        -ms-transform: translate3d(0, 0, 0);    /* Internet Explorer */
        -o-transform: translate3d(0, 0, 0);    /* Opera */
        transform: translate3d(0, 0, 0); 
      }
}

@-ms-keyframes display{
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -10vh, 0);       /* Safari & Chrome */
        -moz-transform: translate3d(0, -10vh, 0);       /* Firefox */
        -ms-transform: translate3d(0, -10vh, 0);    /* Internet Explorer */
        -o-transform: translate3d(0, -10vh, 0);    /* Opera */
        transform: translate3d(0, -10vh, 0);   
      }
      100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);       /* Safari & Chrome */
        -moz-transform: translate3d(0, 0, 0);       /* Firefox */
        -ms-transform: translate3d(0, 0, 0);    /* Internet Explorer */
        -o-transform: translate3d(0, 0, 0);    /* Opera */
        transform: translate3d(0, 0, 0); 
      }
}

@keyframes display {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -10vh, 0);       /* Safari & Chrome */
        -moz-transform: translate3d(0, -10vh, 0);       /* Firefox */
        -ms-transform: translate3d(0, -10vh, 0);    /* Internet Explorer */
        -o-transform: translate3d(0, -10vh, 0);    /* Opera */
        transform: translate3d(0, -10vh, 0);   
      }
      100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);       /* Safari & Chrome */
        -moz-transform: translate3d(0, 0, 0);       /* Firefox */
        -ms-transform: translate3d(0, 0, 0);    /* Internet Explorer */
        -o-transform: translate3d(0, 0, 0);    /* Opera */
        transform: translate3d(0, 0, 0); 
      }
  }



  

/*
*
*
*     Media queries for responsive design
*
*
*
*/

/* Small devices (landscape tablets, 500px and up) */
@media only screen and (min-width: 500px) {

    .sceneControlComponent {

        .controlsSection {

            .bottomMenuContainer {

                > div {

                    .buttonsContainer--smallScreens{

                        button {
                            .textContainer {
                                display: block;
                            }
                        }

                    }

                }

            }
        }

    }

}
  


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .sceneControlComponent {

        .controlsSection {

            .topMenuContainer{

                > div.loadingBar-infos-container {

                    grid-template-columns: auto auto auto;


                    .buttonsContainer{

                        display: flex;

                    }

                }
            }

            .bottomMenuContainer {

                > div {

                    .buttonsContainer--smallScreens{

                        display: none;
                    }

                }

            }
        }
    }

  
}
  