.sceneControlComponent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 1;
    color: var(--beige);

    .setVisible {

        -webkit-animation: display 0.7s ease forwards normal;
        -moz-animation: display 0.7s ease forwards normal;
        -o-animation: display 0.7s ease forwards normal;
        -ms-transition: display 0.7s ease forwards normal;

        animation: display 0.7s ease forwards normal;
    }

    .controlsSection {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20vh auto 10vh;
        align-items: center;

        .topMenuContainer {
            position: relative;
            width: 100%;
            max-width: min(95%, 75rem);
            margin: auto;
            

            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 2;


      

            /*  First layer of the top menu  */
            > div:first-of-type {

                width: 100%;
                padding-top: 5vh;
                
                .loadingBar {
                    position: relative;
                    width: 100%;
                    height: 1.2rem;
                    border: 0.2rem solid rgb(var(--red));
                    border-radius: 0.3rem;
                    padding: 0.05rem;
    
                    .blackBar {
                        height: 100%;
                        width: 0%;
                        opacity: 0.5;
                        border-radius: 0.1rem;
                        background-color: black;
                        -webkit-transition:  2s; /* Safari & Chrome */
                        -moz-transition:  2s;/* Firefox */
                        -ms-transition:  2s; /* Internet Explorer */
                        -o-transition:  2s;
                        transition: 2s;
                    }

                    /*
                        Marking of the scenes
                    */
                    .marking {
                        position: absolute;
                        font-size: 2.1rem;
                        font-weight: bold;
                        bottom: -0.5rem;
                        color: rgb(230, 230, 230);
                        cursor: pointer;

                        -webkit-transition: 0.2s; /* Safari & Chrome */
                        -moz-transition: 0.2s; /* Firefox */
                        -ms-transition: 0.2s;  /* Internet Explorer */
                        -o-transition: 0.2s; 
                        transition: 0.2s;  /* W3C */

                        transform-origin: bottom center;
                        -webkit-transform-origin: bottom center;

                        &.played { opacity: 1;}
                        &:hover {

                            color: rgb(var(--beige));

                            > div {
                                opacity: 1;
                            }
                        }
                    }
                }
    
                .menuFunction {
    
                    text-shadow: 2px 2px 4px #000000;
    
                }

            }

            /*  Second layer of the top menu  */
            > div:last-of-type {

                width: 100%;
                display: grid;
                grid-template-columns: auto auto auto;
                grid-template-rows: 100%;
                align-items: start;
                justify-content:space-between;
                margin-top: 0.5rem;

                .timeRef {
                    text-shadow: 2px 2px 4px #000000;
                    margin: 0px;
                    font-size: 2rem;
                }
    
                .timeRef:last-of-type { 
                    text-align: right; 
                }
                .timeRef:first-of-type { text-align: left; }

                .buttonsContainer {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    margin: 0rem 0.5rem;
                    margin-bottom: 1rem;


                    button {
                        --buttonSize: 4rem;

                        width: auto;
                        padding: 0.5rem 1rem;
                        font-weight: bold;
                        font-size: 1.5rem;
                        margin: 0px 0.5rem;
                        text-align: right;
                        cursor: pointer;
                        height: var(--buttonSize);
                        color: rgb(var(--blue));
                        background-color: rgb(var(--beige));
                        border-radius: calc(var(--buttonSize)/2);

                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        .svgContainer {
                            float: left;
                            height: 2.5rem;
                            height: calc(var(--buttonSize)/5 * 2.5);
                            width: 2.5rem;
                            width: calc(var(--buttonSize)/5 * 2.5);
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            svg {
                                width: 100%;
                                max-height: 100%;
                                stroke: rgb(var(--pink));
                            }

                        }

                        .textContainer {
                            display: none;
                            margin: 0rem 1rem;

                        }

                        &:hover {
                            .textContainer{
                                display: block;
                            }
                        }
                    }
                }
    

              
    
                button:last-of-type { text-align: left; }

                
            }
            
        }

        .bottomMenuContainer{
            color: rgb(var(--beige));
            z-index: 5;

            width: 95%;
            max-width: min(95%, 75rem);
            margin: 0px auto;

            
            position: relative;
            font-size: 2.5rem;
         

            p {
                position: absolute;
                margin: 0px;
                text-align: center;
                bottom: 0px;
                left: 0px;
                width: 100%;

                text-shadow: 2px 2px 3px #000000;
          
                font-size: clamp(2rem, 3rem, 4vw);
                line-height: 1;
            }
        }
        
    }



    .panelSection {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@-webkit-keyframes display{
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -10vh, 0);       /* Safari & Chrome */
        -moz-transform: translate3d(0, -10vh, 0);       /* Firefox */
        -ms-transform: translate3d(0, -10vh, 0);    /* Internet Explorer */
        -o-transform: translate3d(0, -10vh, 0);    /* Opera */
        transform: translate3d(0, -10vh, 0);   
      }
      100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);       /* Safari & Chrome */
        -moz-transform: translate3d(0, 0, 0);       /* Firefox */
        -ms-transform: translate3d(0, 0, 0);    /* Internet Explorer */
        -o-transform: translate3d(0, 0, 0);    /* Opera */
        transform: translate3d(0, 0, 0); 
      }
}

@-moz-keyframes display{
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -10vh, 0);       /* Safari & Chrome */
        -moz-transform: translate3d(0, -10vh, 0);       /* Firefox */
        -ms-transform: translate3d(0, -10vh, 0);    /* Internet Explorer */
        -o-transform: translate3d(0, -10vh, 0);    /* Opera */
        transform: translate3d(0, -10vh, 0);   
      }
      100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);       /* Safari & Chrome */
        -moz-transform: translate3d(0, 0, 0);       /* Firefox */
        -ms-transform: translate3d(0, 0, 0);    /* Internet Explorer */
        -o-transform: translate3d(0, 0, 0);    /* Opera */
        transform: translate3d(0, 0, 0); 
      }
}

@-o-keyframes display{
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -10vh, 0);       /* Safari & Chrome */
        -moz-transform: translate3d(0, -10vh, 0);       /* Firefox */
        -ms-transform: translate3d(0, -10vh, 0);    /* Internet Explorer */
        -o-transform: translate3d(0, -10vh, 0);    /* Opera */
        transform: translate3d(0, -10vh, 0);   
      }
      100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);       /* Safari & Chrome */
        -moz-transform: translate3d(0, 0, 0);       /* Firefox */
        -ms-transform: translate3d(0, 0, 0);    /* Internet Explorer */
        -o-transform: translate3d(0, 0, 0);    /* Opera */
        transform: translate3d(0, 0, 0); 
      }
}

@-ms-keyframes display{
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -10vh, 0);       /* Safari & Chrome */
        -moz-transform: translate3d(0, -10vh, 0);       /* Firefox */
        -ms-transform: translate3d(0, -10vh, 0);    /* Internet Explorer */
        -o-transform: translate3d(0, -10vh, 0);    /* Opera */
        transform: translate3d(0, -10vh, 0);   
      }
      100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);       /* Safari & Chrome */
        -moz-transform: translate3d(0, 0, 0);       /* Firefox */
        -ms-transform: translate3d(0, 0, 0);    /* Internet Explorer */
        -o-transform: translate3d(0, 0, 0);    /* Opera */
        transform: translate3d(0, 0, 0); 
      }
}

@keyframes display {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -10vh, 0);       /* Safari & Chrome */
        -moz-transform: translate3d(0, -10vh, 0);       /* Firefox */
        -ms-transform: translate3d(0, -10vh, 0);    /* Internet Explorer */
        -o-transform: translate3d(0, -10vh, 0);    /* Opera */
        transform: translate3d(0, -10vh, 0);   
      }
      100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);       /* Safari & Chrome */
        -moz-transform: translate3d(0, 0, 0);       /* Firefox */
        -ms-transform: translate3d(0, 0, 0);    /* Internet Explorer */
        -o-transform: translate3d(0, 0, 0);    /* Opera */
        transform: translate3d(0, 0, 0); 
      }
  }