/*



*/

.overflowContainer {

    position: absolute; 
    min-width: 800px;   
    overflow: visible;
    z-index: -10px;

    
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;

    -webkit-transition:  0.5s;
    -moz-transition:  0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    

    /* Determine where the element is going to be align in the page */
    left: 50%;

    /* Center the element on itself 
    transform: translate(-50%, 0%); */
    /*-webkit-transform: translate(-50%, 0%);  Safari & Chrome */
    /*-moz-transform: translate(-50%, 0%); /* Firefox */
    /*-ms-transform: translate(-50%, 0%); /* Internet Explorer */
    /*-o-transform: translate(-50%, 0%); /* Opera */
}