/*******************************

    Specific component styling
    +++
    Vincent Poirier Ruel 08/02/2022

********************************/

.footer_Component {

    
    padding: 3rem;
    background-color: grey;
    color: white;
    position: relative;

    /* Correspond to the maxWidthPageContainer */
    > div {

        > section {
             

             h4 { margin-top: 0px;}

             ul {
                 display: flex;
                 flex-direction: column;

                 li {
                    font-weight: normal;
                    font-size: 1rem;
                    line-height: 1.4;
                    transition: 0.3s;

                    &:hover{
                        color: #ff9898;
                    }
                 }

                 
             }

             &.adminSection {
                 
                > * {
                    text-align: right;
                    width: 100%;
                }

                button {
                    font-weight: normal;
                    font-size: 1rem;
                    line-height: 1.4;
                    &:hover{
                        color: #ff9898;
                    }
                 }
             }
        }
    }


}