/*******************************

    Specific component styling
    +++
    Vincent Poirier Ruel 08/02/2022

********************************/

.footer_Component {

    padding: 1rem 0rem;
    background-color: grey;
    color: white;
    position: relative;

    /* Correspond to the maxWidthPageContainer */
    > div {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;


        > section {

            &:nth-of-type(1) { flex-shrink:0; }
            &:nth-of-type(2) { flex-shrink:2; }

            width: auto;
            max-width: 60ch;
            float: left;

            margin: 5vh 1vw;
            margin: 5vh max(1vw, 1rem);
             

             h4 { margin-top: 0px;}

             ul {
                 display: flex;
                 flex-direction: column;
                 align-items: flex-start;

                 li {
                    font-weight: normal;
                    font-size: 1rem;
                    line-height: 1.4;
                 }
             }

             ul.footerMenu {
                 > li {
                    margin-bottom: 0.5rem;
                 }
             }

             ul.credits {

                li {
                    margin-left: 1rem;
                    font-size: 0.95rem;
                    line-height: 1.3;
                    list-style-type: disc;
                    margin-bottom: 0.4rem;
                    color : #39395e;
                    font-weight: bold;

                &:last-of-type{
                    margin-left: 0rem;
                    list-style-type: none;
                }

                    span{ 
                        color: rgb(238, 238, 238);
                        font-weight: normal;
                    }
                }
                
             }

             .logo-container {

                .logo { 
                    float: left;
                    max-width: 100%;
                    width: min(100%, 15ch);
                    margin-right: 1rem;
                    margin-top: 0.5rem;
                }

             }
             

             &.adminSection {
                 
               

                > button, ul {
                    font-weight: normal;
                    font-size: 0.9rem;
                    line-height: 1.4;

                    li { font-size: inherit;}
                    &:hover{
                        color: #ff9898;
                    }
                 }
             }
        }
    }
}

/*
*
*
*     Media queries for responsive design
*
*
*
*/


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 900px) {

    .footer_Component { 
        
        > div {
            flex-wrap: nowrap;
        }
    }


}