/*


    House component


*/

.houseComponent {

    --orientation: 1;

    width: auto;
    position: absolute;
    transform: translate(-50%, -100%) scaleX(var(--orientation));
    -webkit-transform: translate(-50%, -100%) scaleX(var(--orientation)); /* Safari & Chrome */
    -moz-transform: translate(-50%, -100%) scaleX(var(--orientation)); /* Firefox */
    -ms-transform: translate(-50%, -100%) scaleX(var(--orientation)); /* Internet Explorer */
    -o-transform: translate(-50%, -100%) scaleX(var(--orientation)); /* Opera */

    -webkit-filter: drop-shadow(0.3rem -0.3rem 0.1rem #383838d0);
    filter: drop-shadow(0.3rem -0.3rem 0.1rem #383838ce);

    &.background {
        z-index: -1;
        -webkit-filter: drop-shadow(0.3rem -0.3rem 0.1rem #383838d0) saturate(0.7);
        filter: drop-shadow(0.3rem -0.3rem 0.1rem #383838d0) saturate(0.7);

        &.reverse {
            --orientation: -1;
            -webkit-filter: drop-shadow(-0.3rem -0.3rem 0.1rem #383838d0) saturate(0.7);
            filter: drop-shadow(-0.3rem -0.3rem 0.1rem #383838d0) saturate(0.7);
        }
    }

    &.reverse {
        --orientation: -1;
        -webkit-filter: drop-shadow(-0.3rem -0.3rem 0.1rem #383838d0);
        filter: drop-shadow(-0.3rem -0.3rem 0.1rem #383838ce);
    }

}