.find-maelie-song-component {

    form {
        color: rgb(58, 58, 58);
    }

    .results-section {

        h4 { text-align: left;}


        .results-section__scrollable-container {
            padding-right: 5px;
            max-height: 30vh;
            overflow-y: auto;

        }
    }

}