

.choraleFormPage {

    --maxWidth: min(40rem, 95%);

    position: relative;
    width: 100%;
    float: left;

    > div {

      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

        header {
          max-width: 95%;
          width: 40rem;
          width: min(40rem, 95%);

             h1 {
              margin: 15vh 0px 5vh 0px;
              font-size: clamp(2.5rem, 5rem, 4vw);
            }

            h4 {
              font-size: 1.5rem;
              margin: 0px;
            }
    
        }


        form {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          background-color: rgb(235, 235, 235);
          margin: 5vh 0px;
          border-radius: 1rem;
          max-width: 95%;
          width: 40rem;
          width: min(40rem, 95%);

          h3 { 
            font-weight: bold;
            color: rgb(var(--blue));
          }

          > * {
            width: 100%;


          }


          button {
              margin: 2rem 3rem 2rem 3rem;
              background-color: rgb(214, 89, 89);
              border-radius: 1rem;
              padding: 1rem 1.5rem;
              color: white;
              width: auto;

          }
       }
    }
   
  .formPageBackground {

      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      z-index: -1;

       /* Background color */
      .skyBackgroundGradient{
          position: absolute;
          top: 0px;
          left: 0px;
          right: 0px;
          bottom: 0px;

          display: flex; 
          flex-direction: column;

          > * { width: 100%; }

          > :first-of-type {
              height: 100vh;
              background: rgba(235,239,255,1);
              background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(235,239,255,1) 0%, rgba(255,252,245,0.7628093473717612) 35%, rgba(255,222,161,0.6) 100%);
          }

          > :last-of-type {
              flex:1;
              background: rgba(235,239,255,1);
              background: linear-gradient(180deg, rgba(255,222,161,0.6) 0%, rgba(255,222,161,0.6) 100%);
          }

      }
      .hillIllustrationContainer {
          position: absolute;
          top: 0px;
          left: 0px;
          overflow: hidden;
          width: 100%;
          bottom: -1rem;


          img{
            position: absolute;
            width: 140%;
            min-height: 20vh;
            left: -20%;
            bottom: 0px;
            -webkit-filter: drop-shadow(0.5rem -0.5rem 0.2rem #383838d0);
            filter: drop-shadow(0.5rem -0.5rem 0.2rem #383838ce);
          }


          
      }

      .castleIllustrationContainer {
        position: absolute;
          top: 0px;
          left: 0px;
          overflow: hidden;
          width: 100%;
          bottom: -1rem;

          img{
            position: absolute;
            height: 50vh;
            right: 5rem;
            bottom: 15vh;
            -webkit-filter: drop-shadow(0.5rem -0.5rem 0.2rem #383838d0);
            filter: drop-shadow(0.5rem -0.5rem 0.2rem #383838ce);
        
          }
      }
  }

}