/*
*
*
*      Select component styling
*
*
*/

.selectComponent{
    margin: 0.5rem 0px;
    width: min(25rem, 100%);

    position: relative; /* Needed for the asterix */

    select {
        width: 100%;
        border: none;
    }
}